<div class="profile">
  <div class="avatar-container">
    <div class="avatar-and-contacts">
      <img class="avatar" ngSrc="/static/img/avatar.jpg" alt="avatar" priority="true" height="200" width="200">
      <div class="contacts-container">
        <div class="contacts-list">
          <div class="contact">
            <a href="https://t.me/melnikovvad">
              <img class="contact-icon" ngSrc="/static/img/telegram_logo.png" alt="phone"
                   height="30" width="30">
            </a>
          </div>
          <div class="contact">
            <a href="https://vk.com/melnikov_vadik">
              <img class="contact-icon" ngSrc="/static/img/vk_logo.png" alt="phone"
                   height="30" width="30">
            </a>
          </div>
          <div class="contact">
            <a href="https://www.linkedin.com/in/wadimmelnikow/">
              <img class="contact-icon"
                   ngSrc="/static/img/linkedin_logo.png" alt="phone"
                   height="30" width="30">
            </a>
          </div>
          <div class="contact">
            <a href="mailto:melnikovvad@yandex.ru">
              <img class="contact-icon"
                   ngSrc="/static/img/mail_logo.png" alt="phone"
                   height="30" width="30">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="main-info">
      <div class="name">Senior Software Engineer</div>
      <div class="name">Melnikov Vadim Aleksandrovich</div>
      <div class="name">Russia, St. Petersburg</div>
      <div class="name">28 y.o., 4 years of commercial experience</div>
      <div class="name">Back-end: Java 8-17, Spring Boot, Postgres,</div>
      <div class="name">Kafka, Redis, Microservices</div>
      <div class="name">Front-end: Angular, TypeScript, HTML, CSS</div>
    </div>
  </div>
</div>
